@import "tailwindcss";

@keyframes glow {
    0% {
        text-shadow: 
        0 0 5px #3a7ca500,
        0 0 10px #3a7ca500,
        0 0 15px #3a7ca500;
    }
    100% {
        text-shadow:
        0 0 10px #3a7ca5ff,
        0 0 20px #3a7ca5ff,
        0 0 30px #3a7ca5ff;
    }
}

.text-category:hover {
  animation: glow 0.5s linear forwards;
}