@import "tailwindcss";

@keyframes bg-appear {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.text-category-bg:hover {
    background-color: #10171f71;
    white-space: nowrap;
    animation: bg-appear 1s ease-in-out forwards;
}