@import "tailwindcss";

@keyframes bg-appear {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes card_appear {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes modal_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.text-category-bg:hover {
    background-color: #10171f71;
    white-space: nowrap;
    animation: bg-appear 1s ease-in-out forwards;
}

.card {
    animation: card_appear 0.5s ease-in-out forwards;
}

.modal {
    animation: modal_appear 0.5s ease-in-out forwards;
    backdrop-filter: blur(7px)
}
