@import "tailwindcss";

.item {
    animation: spinAround 7s linear infinite;
}

.item > * {
    animation: inverseSpin 7s linear infinite;
}

@keyframes spinAround{
    0% {
        transform: rotate(0deg) translate(400px);
    }
    100% {
        transform: rotate(360deg) translate(400px);
    }
}

@keyframes inverseSpin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}